*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
ul{
	list-style: none;
}
header{
	width: 100%;
	height: 60px;
	border: solid 1px #cccccc;
}
.content-container{
	position: relative;
	width: 1122px;
	height: 1000px;
	margin: 0 auto;
	border: solid 1px green;
}
.content-left{
	position: absolute;
	left: 0;
	width: 830px;
	max-width: 830px;
	height: 1000px;
	border: solid 1px red;
}
.content-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 290px;
	max-width: 290px;
	height: 1000px;
	border: solid 1px blue;
}
footer{
	width: 100%;
	height: 500px;
	border: solid 1px #000;
}